.App {
  background-color: #282c34;
  color: #FFC107;
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


.inner {  
  border: 1px solid black;
  height: 10rem !important;
  width: 10rem !important;
  align-items: center !important;
  margin-top: 100px;
}

.outer {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
